In [5]:
import importlib
import subprocess

import Advanced_SQL as asql
import duckdb
import SQL as sql

_ = importlib.reload(asql)
_ = importlib.reload(sql)

Use this cell to test any sql queries. This can be done in one of the following ways:

1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.

This cell can be copied if you wish to run multiple queries.

In [115]:
import Advanced_SQL as asql
_ = importlib.reload(asql)

qry = """  
SELECT * FROM timeline
"""

qry = asql.question_7()


with duckdb.connect("database/loan.db") as cursor:
    result_set = cursor.execute(qry).df()

result_set

      CustomerID  Age  CorrectedAge  Gender AgeCategory  Rank
0            698   29            50    Male       Adult     1
1            955   22            42    Male       Adult     1
2            334   39            37  Female       Adult     1
3            725   21            43    Male       Adult     1
4            190   69            54  Female       Adult     2
...          ...  ...           ...     ...         ...   ...
1009         747   24            19  Female        Teen     6
1010           5   67            18  Female        Teen     6
1011         643   54            19    Male        Teen     7
1012         596   71            19  Female        Teen     7
1013         152   32            19  Female        Teen     7

[1014 rows x 6 columns]

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [102]:
load_script_path = "database/database_load.py"
subprocess.run(["python3", load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)